- name: Ensure required packages are installed using rpm only
  block:

    - name: Ensure Development RPM directory exists
      ansible.builtin.file:
        path: "{{ util_rpm_base }}"
        state: directory
        mode: "0755"

    - name: Gather installed package list using rpm
      ansible.builtin.command: rpm -qa --qf '%{NAME}\n'
      register: installed_rpms
      changed_when: false

    - name: Determine missing required packages
      ansible.builtin.set_fact:
        missing_packages: "{{ required_packages | difference(installed_rpms.stdout_lines) }}"

    - name: Show missing packages
      ansible.builtin.debug:
        msg: "Missing packages: {{ missing_packages }}"
      when: missing_packages | length > 0

    - name: Find local RPMs for missing packages
      ansible.builtin.find:
        paths: "{{ util_rpm_base }}"
        patterns: "{{ item }}-*.rpm"
      loop: "{{ missing_packages }}"
      register: found_rpms
      when: missing_packages | length > 0

    - name: Fail if any required RPM is missing locally
      ansible.builtin.fail:
        msg: "RPM for package {{ item.item }} not found in {{ util_rpm_base }}"
      when:
        - missing_packages | length > 0
        - item.matched == 0
      loop: "{{ found_rpms.results }}"

    - name: Install missing packages using rpm
      ansible.builtin.command: >
        rpm -Uvh --nosignature --nodeps
        {{ found_rpms.results | map(attribute='files') | flatten | map(attribute='path') | join(' ') }}
      when: missing_packages | length > 0



- name: Install mcelog package
  ansible.builtin.package:
    name: mcelog
    state: present
  ignore_errors: true

- name: Ensure /var/log directory exists
  ansible.builtin.file:
    path: "{{ mcelog_log_file | dirname }}"
    state: directory
    mode: '0755'

- name: Deploy mcelog configuration file
  ansible.builtin.copy:
    src: mcelog.conf
    dest: /etc/mcelog.conf
    owner: root
    group: root
    mode: '0644'

- name: Deploy custom systemd service to run mcelog in foreground
  ansible.builtin.template:
    src: mcelog.service.j2
    dest: /etc/systemd/system/mcelog.service
    mode: '0644'

- name: Reload systemd to apply changes
  ansible.builtin.systemd:
    daemon_reload: yes

- name: Enable and start mcelog service
  ansible.builtin.systemd:
    name: mcelog.service
    enabled: yes
    state: started
