---
- name: Setup base directories for HPC suite
  hosts: all
  become: true
  vars_files:
    - ../../group_vars/all.yml

  vars:
    hpc_container_pv_dir: /hpc_container_pv
    hpctool_stack_dir: /hpctool_stack
    hpc_cluster_suite_dir: /root/hpc_cluster_suite

  roles:
    - "{{ roles_parent_path }}/configure_lib/standard_dir_setup"
