####################### OpenCHAI Manager Tool Variable #####################
base_dir: /OpenCHAI
os_version: alma8.9
enterprise_linux_label: el8
hpcsuite_registry_mount_path: "{{ base_dir }}/hpcsuite_registry"
rpm_stack_path: "{{ hpcsuite_registry_mount_path }}/hostmachine_reg/{{ os_version }}"
configuration_dir_path: "{{ rpm_stack_path }}/mount"
roles_parent_path: "{{ base_dir }}/automation/ansible/roles_library"
inventory_file: "{{ base_dir }}/automation/ansible/inventory/inventory_def.txt"

# Ansible inventroy hostname
primary_master_node_inventory_hostname: "{{ (lookup('pipe', 'grep ^hpc-master01 ' + inventory_file)).split()[0] }}"
secondary_master_node_inventory_hostname: "{{ (lookup('pipe', 'grep ^hpc-master02 ' + inventory_file)).split()[0] }}"
headnode_inventory_hostname: "{{ (lookup('pipe', 'grep ^headnode ' + inventory_file)).split()[0] }}"

####################### HeadNode Variable ###########################
# Extract headnode IP dynamically from inventory
headnode_ip: "{{ (lookup('pipe', 'grep ^headnode ' + inventory_file)).split()[1] }}"
headnode_hostname: "{{ (lookup('pipe', 'grep ^headnode ' + inventory_file)).split()[5] }}"


####################### Lustre Variable ###########################
# Lustre Server IPs and Network Configurations
storage_vm_server_ip_one: 10.5.41.1
storage_vm_server_ha_ip_one: 10.5.41.11
storage_vm_server_ip_two: 10.5.41.2
storage_vm_server_ha_ip_two: 10.5.41.12

lnet_networks: o2ib
lnet_networks_ha: o2ib1

# Lustre Mount Source String
lustre_mount_server_src: "{{ storage_vm_server_ip_one }}@{{ lnet_networks }},{{ storage_vm_server_ha_ip_one }}@{{ lnet_networks_ha }}:{{ storage_vm_server_ip_two }}@{{ lnet_networks }},{{ storage_vm_server_ha_ip_two }}@{{ lnet_networks_ha }}"

# Lustre Mount Paths
lustre_mounts_dest_primary_path: /home
lustre_mounts_src_primary_path: /home
lustre_mounts_dest_secondary_path: /scratch
lustre_mounts_src_secondary_path: /scratch

####################### HPC Master and Management Nodes IP and Hostname Variables ###########################
# DRBD High Availability Nodes Hostname and their Netwrok IPs
# xCAT VIP IP
private_interface : "eth2:0"

xcat_vip_ip: "172.10.3.111"
xcat_vip_interface: "ens1f2"
xcat_vip_subnet_prefix: "22"
xcat_vip_resource_name: "vip_xCAT"

drbd_resource_name: "rudra_drbd"
drbd_clone_name: "drbd_fs_clone"
drbd_fs_resource_name: "xcatfs"
drbd_device: "/dev/drbd0"
drbd_mount_dir: "/drbd"
drbd_fstype: "ext4"

pcs_primary_master_node_hostname: "{{ primary_master_node_hostname }}"
pcs_secondary_master_node_hostname: "{{ secondary_master_node_hostname }}"
pcs_cluster_password: "StrongPass123"
pcs_cluster_name: "drbd_xCAT"


#Service Nodes IP's
primary_master_node_ip: "{{ (lookup('pipe', 'grep ^hpc-master01 ' + inventory_file)).split()[1] }}"
secondary_master_node_ip: "{{ (lookup('pipe', 'grep ^hpc-master02 ' + inventory_file)).split()[1] }}"

primary_mgmt_node_ip: "{{ (lookup('pipe', 'grep ^hpc-mgmt01 ' + inventory_file)).split()[1] }}"
secondary_mgmt_node_ip: "{{ (lookup('pipe', 'grep ^hpc-mgmt02 ' + inventory_file)).split()[1] }}"

#Service Nodes Hostname
primary_master_node_hostname: "{{ (lookup('pipe', 'grep ^hpc-master01 ' + inventory_file)).split()[5] }}"
secondary_master_node_hostname: "{{ (lookup('pipe', 'grep ^hpc-master02 ' + inventory_file)).split()[5] }}"

primary_mgmt_node_hostname: "{{ (lookup('pipe', 'grep ^hpc-mgmt01 ' + inventory_file)).split()[5] }}"
secondary_mgmt_node_hostname: "{{ (lookup('pipe', 'grep ^hpc-mgmt02 ' + inventory_file)).split()[5] }}"

# Docker Swarm Manager
primary_swarm_manager_ip: "{{ primary_master_node_ip }}"
primary_swarm_manager: "{{ primary_master_node_inventory_hostname }}"
secondary_swarm_manager: "{{ secondary_master_node_inventory_hostname }}"
tertiary_swarm_manager: "{{ headnode_inventory_hostname }}"           #It can be a login node, head node, or management node used solely to maintain quorum.

####################### xCAT Management Tool Variable #######################
xcat_version_tag: "2.17.0"
xcat_container_img_tar: "cdac_xcat_{{ os_version }}_{{ xcat_version_tag }}"
xcat_docker_img: "cdac_xcat/{{ os_version }}:{{ xcat_version_tag }}"

####################### Application Module Variable #######################
# lmod
modulepath_dir: "/home/apps/modulefiles/apps"

