####################### OpenCHAI Manager Tool Variable #####################
openchai_version: openchai_v1.24.0
base_dir: /OpenCHAI
os_version: alma8.9
os_arch: x86_64
rhel_linux_label: rh8
enterprise_linux_label: el8
default_kernel_version: "5.14.0-570.17.1.el9_6"

# OpenCHAI Manager Environment Setup
hpcsuite_registry_mount_path: "{{ base_dir }}/hpcsuite_registry"
openchai_vault_path: "{{ hpcsuite_registry_mount_path }}/hostmachine_reg/{{ os_version }}/{{ openchai_version }}"
rpm_stack_path: "{{ openchai_vault_path }}/rpm-stack"
configuration_dir_path: "{{ openchai_vault_path }}/mount"
bin_dir_path: "{{ openchai_vault_path }}/bin"
roles_parent_path: "{{ base_dir }}/automation/ansible/roles_library"
inventory_file: "{{ base_dir }}/automation/ansible/inventory/inventory_def.txt"


# Ansible inventroy hostname
primary_master_node_inventory_hostname: "{{ (lookup('pipe', 'grep ^hpc-master01 ' + inventory_file)).split()[0] }}"
secondary_master_node_inventory_hostname: "{{ (lookup('pipe', 'grep ^hpc-master02 ' + inventory_file)).split()[0] }}"
headnode_inventory_hostname: "{{ (lookup('pipe', 'grep ^headnode ' + inventory_file)).split()[0] }}"

####################### HPC Master and Management Nodes IP and Hostname Variables ###########################
# Extract headnode IP dynamically from inventory
headnode_ip: "{{ (lookup('pipe', 'grep ^headnode ' + inventory_file)).split()[1] }}"
headnode_hostname: "{{ (lookup('pipe', 'grep ^headnode ' + inventory_file)).split()[5] }}"

#Service Nodes IP's
primary_master_node_ip: "{{ (lookup('pipe', 'grep ^hpc-master01 ' + inventory_file)).split()[1] }}"
secondary_master_node_ip: "{{ (lookup('pipe', 'grep ^hpc-master02 ' + inventory_file)).split()[1] }}"

primary_mgmt_node_ip: "{{ (lookup('pipe', 'grep ^hpc-mgmt01 ' + inventory_file)).split()[1] }}"
secondary_mgmt_node_ip: "{{ (lookup('pipe', 'grep ^hpc-mgmt02 ' + inventory_file)).split()[1] }}"

#Service Nodes Hostname
primary_master_node_hostname: "{{ (lookup('pipe', 'grep ^hpc-master01 ' + inventory_file)).split()[5] }}"
secondary_master_node_hostname: "{{ (lookup('pipe', 'grep ^hpc-master02 ' + inventory_file)).split()[5] }}"

primary_mgmt_node_hostname: "{{ (lookup('pipe', 'grep ^hpc-mgmt01 ' + inventory_file)).split()[5] }}"
secondary_mgmt_node_hostname: "{{ (lookup('pipe', 'grep ^hpc-mgmt02 ' + inventory_file)).split()[5] }}"

####################### Lustre Variable ###########################
# Lustre Server IPs and Network Configurations
storage_vm_server_ip_one: 10.5.41.1
storage_vm_server_ha_ip_one: 10.5.41.11
storage_vm_server_ip_two: 10.5.41.2
storage_vm_server_ha_ip_two: 10.5.41.12

lnet_networks: o2ib
lnet_networks_ha: o2ib1

# Lustre Mount Paths
lustre_mounts_dest_primary_path: /home
lustre_mounts_src_primary_path: /home
lustre_mounts_dest_secondary_path: /scratch
lustre_mounts_src_secondary_path: /scratch

# Lustre Mount Source String
lustre_mount_server_src: "{{ storage_vm_server_ip_one }}@{{ lnet_networks }},{{ storage_vm_server_ha_ip_one }}@{{ lnet_networks_ha }}:{{ storage_vm_server_ip_two }}@{{ lnet_networks }},{{ storage_vm_server_ha_ip_two }}@{{ lnet_networks_ha }}"


####################### DRBD High Availability Nodes Hostname and their Netwrok IPs #######################
# xCAT VIP IP
private_interface: "ens1f2"

xcat_vip_ip: "172.10.3.111"
xcat_vip_interface: "ens1f2:0"
xcat_vip_subnet_prefix: "22"
xcat_vip_resource_name: "vip_xCAT"

drbd_resource_name: "rudra_drbd"
drbd_clone_name: "drbd_fs_clone"
drbd_fs_resource_name: "xcatfs"
drbd_device: "/dev/drbd0"
drbd_mount_dir: "/drbd"
drbd_fstype: "ext4"

drbd_sync_delay: "40"

pcs_primary_master_node_hostname: "hpc-master01"
pcs_secondary_master_node_hostname: "hpc-master02"
pcs_cluster_password: "StrongPass123"
pcs_cluster_name: "drbd_xCAT"


####################### Docker Swarm Manager #######################
primary_swarm_manager_ip: "{{ primary_master_node_ip }}"
primary_swarm_manager: "{{ primary_master_node_inventory_hostname }}"
secondary_swarm_manager: "{{ secondary_master_node_inventory_hostname }}"
tertiary_swarm_manager: "headnode"           #It can be a login node, head node, or management node used solely to maintain quorum.

####################### xCAT Management Tool Variable #######################
xcat_version_tag: "2.17.0"
xcat_repo_version_tag: "2.17"    # or 2.16 or latest (don't put 2.17.0, not supported )
xcat_container_img_tar: "cdac_xcat_{{ os_version }}_{{ xcat_version_tag }}"
xcat_docker_img: "cdac_xcat/{{ os_version }}:{{ xcat_version_tag }}"

####################### Slurm Workload Manager Variable #####################
slurm_version: "slurm-25.11.0-pmix-all"

######################## OpenLDAP Tool variable ##########################
ldap_version_tag: "2.6.8"
primary_ldap_node_ip: "{{ primary_master_node_ip }}"
secondary_ldap_node_ip: "{{ secondary_master_node_ip }}"
ldap_base_dn: "dc=nsm,dc=in"
ldap_container_img_tar: "cdac_openldap_multi-replication_{{ os_version}}_{{ ldap_version_tag }}"
openldap_container_image: "cdac_openldap_multi-replication/{{ os_version}}/{{ ldap_version_tag }}"

####################### Monitoring Tools Variables #############################
monitoring_log_server_ip: "{{ secondary_mgmt_node_ip }}"  # It can be any login nodes or mgmt nodes 




####################### Application Module Variable #######################
application_base_dir: "/home/apps"
compiler_dir: "{{ application_base_dir }}/Compiler"

# lmod
modulepath_dir: "{{ application_base_dir }}/modulefiles/apps"

# nvidia cuda version
nvidia_cuda_version: "13.0"

####################### Monitoring Tools Variable #######################
monitoring_log_server_ip: "172.10.3.25"

