---
- name: Install and configure Slurm
  hosts: all
  become: true

  vars_files:
    - ../../../group_vars/all.yml

  vars:
    slurm_reinstall: false
    slurm_replace_configs: true
    pmix_version: "pmix-all"
    slurm_version: "{{ slurm_version }}"
    slurm_node_role: "mgmt" # can be "master", "compute", or "mgmt"
    slurm_rpm_base: "{{ rpm_stack_path  }}/slurm_rpms/{{ enterprise_linux_label }}"
    slurm_generate_jwt_key: true
    munge_generate_key: true

  roles:
    - "{{ roles_parent_path }}/scheduler_lib/scheduler_slurm"
