---
- name: Setup Slurm Accounting Database
  hosts: all
  become: true

  vars_files:
    - ../../../group_vars/all.yml

  vars:
    slurmdb_name: slurm_acct_db
    slurmdb_user: slurm
    slurmdb_password: "{{ vault_slurmdb_password }}"

    slurmdb_readonly_user: readonly
    slurmdb_readonly_password: "{{ vault_slurmdb_ro_password }}"

    innodb_buffer_pool_size: 32G
    innodb_log_file_size: 64M
    innodb_lock_wait_timeout: 900

  roles:
    - "{{ roles_parent_path }}/scheduler_lib/scheduler_sql"
