---
- name: Configure and Deploy OpenLDAP Container
  hosts: all
  become: yes

  vars_files:
    - ../../../group_vars/all.yml

  vars:
    ldap_pv_dir: "/hpc_container_pv/ldapdata"
    openldap_image: "{{ openldap_container_image }}"
    ldap_container_img: "{{ ldap_container_img_tar }}"
    ldap_version: "{{ ldap_version_tag }}"
    ldap_reg_network_url: "{{ hpcsangrah_vault_network_url }}/OpenCHAI/hpcsuite_registry/container_img_reg/{{ os_version }}/ldap_reg/{{ ldap_version }}/{{ ldap_container_img }}"
    ssl_certificate_check: no
    primary_ldap_server_ip: "{{ primary_ldap_node_ip }}"
    secondary_ldap_server_ip: "{{ secondary_ldap_node_ip }}"
    retries_attampt: 5
    delay_time: 10

  roles:
    - "{{ roles_parent_path }}/install_lib/multi_rep_ldap_server_container"
