---
- name: Configure NFS Server
  hosts: all
  become: true
  vars_files:
    - ../../group_vars/all.yml

  vars:
    nfs_server_service: nfs-server
    nfs_server_state: started
    nfs_server_enabled: true
    nfs_server_install_if_missing: true

    # Multiple NFS export points
    nfs_exports:
      - path: "{{ rpm_stack_path }}"
        clients: "*"
        options: ro,sync,no_root_squash
      - path: "{{ configuration_dir_path }}"
        clients: "*"
        options: rw,sync,no_root_squash
      - path: "{{ bin_dir_path }}"
        clients: "*"
        options: rw,sync,no_root_squash

  roles:
    - "{{ roles_parent_path }}/storage_lib/storage_nfs_server"
