---
- name: Monitoring baseline ALL
  hosts: all
  become: yes
  vars_files:
    - ../../group_vars/all.yml

  vars:
    util_rpm_base: "{{ rpm_stack_path }}/utilities_rpms"

  pre_tasks:
    - name: Reset failed host state (if any)
      meta: clear_host_errors

  roles:
    - "{{ roles_parent_path }}/monitoring_lib/mcelog_configure"
