127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['all'] | sort %}
{% set ip = (
    hostvars[host].ansible_host
    | default(hostvars[host].inventory_hostname)
) %}
{{ ip }} {{ hostvars[host].inventory_hostname }} {{ host }}
{% endfor %}
