- name: restart httpd
  ansible.builtin.service:
    name: httpd
    state: restarted

- name: restart dhcpd
  ansible.builtin.service:
    name: dhcpd
    state: restarted

- name: restart tftp
  ansible.builtin.service:
    name: tftp
    state: restarted
