# Enable/disable reinstallation
slurm_reinstall: false

# PMIx version to install (directory must exist)
pmix_version: "pmix-4.2.8"

# Slurm version to install (directory must exist)
slurm_version: "slurm-25-05-pmix-4-2-8"

# Node role: master / compute / others
slurm_node_role: "compute"

# Authentication packages
auth_packages:
  - munge
  - munge-devel
  - munge-libs
  - libjwt
  - libjwt-devel
  - s-nail
  - mariadb-server
  - perl-Switch
  - libaec
  - perl-autouse
  - freeipmi
  - hdf5-mpich
  - libgfortran
    #  - perl-deprecate
  - libquadmath
  - mpich
  - hdf5
  - http-parser


# Define excluded packages per role
slurm_excluded_packages:
  master:
    - slurm-slurmd     # exclude only the main slurm rpm
  compute:
    - slurm-slurmdbd
    - slurm-slurmctld
  mgmt:
    - slurm-slurmctld
    - slurm-slurmd
  others:
    - slurm-slurmdbd
    - slurm-slurmctld
    - slurm-slurmd


# ============================================================
# Slurm Global Configuration
# ============================================================
slurm_cluster_name: "openchai-hpc"


# ============================================================
# High Availability Configuration
# ============================================================
slurm_ha_enabled: true

# ============================================================
# Users and Groups
# ============================================================
slurm_user: slurm
slurm_group: slurm
slurm_uid: 900
slurm_gid: 900

munge_user: munge
munge_group: munge
munge_uid: 971
munge_gid: 968

# ============================================================
# Paths
# ============================================================
slurm_conf_dir: /etc/slurm
slurm_log_dir: /var/log/slurm
slurm_state_dir: /var/spool/slurmctld
slurm_share_dir: /var/share/slurm

# ============================================================
# Security
# ============================================================
munge_generate_key: true
slurm_generate_jwt_key: true
slurm_jwt_key_path: "{{ slurm_share_dir }}/ctld/jwt_hs256.key"

# ============================================================
# Services
# ============================================================
munge_service: munge
slurmctld_service: slurmctld

# ============================================================
# Config Control
# ============================================================
slurm_replace_configs: true
