---
# defaults file for docker_engine
docker_repo_url: "https://download.docker.com/linux/rhel/docker-ce.repo"
docker_remove_exiting: true # or false
docker_install: true # or false
at_install_allow_erasing: false # or true
docker_service_enable: yes # or no
