---

- name: Detect OS major version
  ansible.builtin.set_fact:
    os_major_version: "{{ ansible_distribution_major_version }}"

- name: Check if Lmod or lmod-hpc is installed
  ansible.builtin.shell: "rpm -qa | grep -E '^(Lmod|lmod-hpc)'"
  register: lmod_check
  failed_when: false
  changed_when: false

# 1. Ensure HISTTIMEFORMAT is set in /etc/bashrc
- name: Ensure HISTTIMEFORMAT is set in /etc/bashrc
  ansible.builtin.lineinfile:
    path: /etc/bashrc
    regexp: '^export HISTTIMEFORMAT='
    line: "{{ histtimeformat_line }}"
    state: present
    insertafter: EOF

# 2. Install Development Tools group
- name: Install Development Tools group
  ansible.builtin.yum:
   name: "@Development Tools"
   state: present
  ignore_errors: yes

# 3. Install extra packages
- name: Install extra development packages
  ansible.builtin.yum:
    name: "{{ required_packages }}"
    state: present
  ignore_errors: yes

# 4. Remove old environment-modules
- name: Remove old environment-modules package
  ansible.builtin.yum:
    name: "{{ old_modules_package }}"
    state: absent
    autoremove: no
  ignore_errors: yes



- name: Ensure required packages are installed using rpm only
  block:

    - name: Ensure Development RPM directory exists
      ansible.builtin.file:
        path: "{{ dev_rpm_base }}"
        state: directory
        mode: "0755"

    - name: Gather installed package list using rpm
      ansible.builtin.command: rpm -qa --qf '%{NAME}\n'
      register: installed_rpms
      changed_when: false

    - name: Determine missing required packages
      ansible.builtin.set_fact:
        missing_packages: "{{ required_packages | difference(installed_rpms.stdout_lines) }}"

    - name: Show missing packages
      ansible.builtin.debug:
        msg: "Missing packages: {{ missing_packages }}"
      when: missing_packages | length > 0

    - name: Find local RPMs for missing packages
      ansible.builtin.find:
        paths: "{{ dev_rpm_base }}"
        patterns: "{{ item }}-*.rpm"
      loop: "{{ missing_packages }}"
      register: found_rpms
      when: missing_packages | length > 0

    - name: Fail if any required RPM is missing locally
      ansible.builtin.fail:
        msg: "RPM for package {{ item.item }} not found in {{ dev_rpm_path }}"
      when:
        - missing_packages | length > 0
        - item.matched == 0
      loop: "{{ found_rpms.results }}"

    - name: Install missing packages using rpm
      ansible.builtin.command: >
        rpm -Uvh --nosignature --nodeps
        {{ found_rpms.results | map(attribute='files') | flatten | map(attribute='path') | join(' ') }}
      when: missing_packages | length > 0



# 5. Try to install lmod-hpc from local RPMs

- name: Find local Lmod RPMs
  ansible.builtin.find:
    paths: "{{ util_rpm_base }}/"
    patterns:
      - "lmod-hpc*.rpm"
      - "Lmod*.rpm"
      - "lua*.rpm"
  register: local_lmod_rpms
  when: lmod_check.stdout == ""


- name: Install Lmod from local RPMs using rpm command
  ansible.builtin.command:
    cmd: "rpm -Uvh --force {{ local_lmod_rpms.files | map(attribute='path') | join(' ') }}"
  when: lmod_check.stdout == "" and local_lmod_rpms.matched > 0
  register: local_rpm_install


- name: Install Lmod from local RPMs using yum
  ansible.builtin.yum:
    name: "{{ local_lmod_rpms.files | map(attribute='path') | list }}"
    state: present
  when: lmod_check.stdout == "" and local_lmod_rpms.matched > 0
  register: local_rpm_install
  ignore_errors: yes

# 6. Fallback: install Lmod from EPEL if local RPMs not found
- name: Install epel-release if needed
  ansible.builtin.yum:
    name: epel-release
    state: present
  when: lmod_check.stdout == "" and (local_lmod_rpms is not defined or local_lmod_rpms.matched == 0)
  ignore_errors: yes

- name: Install Lmod from repos (EPEL)
  ansible.builtin.yum:
    name: Lmod
    state: present
  when: lmod_check.stdout == "" and (local_lmod_rpms is not defined or local_lmod_rpms.matched == 0)
  ignore_errors: yes

# 8. Configure MODULEPATH
- name: Configure MODULEPATH
  ansible.builtin.copy:
    dest: /etc/profile.d/00-modulepath.sh
    owner: root
    group: root
    mode: '0644'
    content: |
      [ -z "$MODULEPATH" ] &&
        [ "$(readlink /etc/alternatives/modules.sh)" = "/usr/share/lmod/lmod/init/profile" -o -f /etc/profile.d/z00_lmod.sh ] &&
        export MODULEPATH={{ modulepath_dir }}:/etc/modulefiles || :
